<div class="row">
	<div class="col-xs-12">
		<form ng-submit="$ctrl.sendLetter()" name="$ctrl.letterForm">
			<div class="form-group">
				<label>To</label>
				<input type="email" name="to" ng-model="$ctrl.letter.to" class="form-control" placeholder="example@email.com" required>
			</div>
			<div class="form-group">
				<label>Subject</label>
				<input type="text" name="subject" ng-model="$ctrl.letter.subject" class="form-control" required>
			</div>
			<div class="form-group">
				<textarea class="form-control" ng-model="$ctrl.letter.body" name="body" rows="15" required></textarea>
			</div>
			<button type="submit" class="btn btn-primary pull-right" ng-disabled="$ctrl.isSubmitDisabled()">Send</button>
		</form>
	</div>
</div>